<!DOCTYPE html>
<html>
<head>
  <title>IssueLinkBuilder</title>
  <%= stylesheet_link_tag '//oss.maxcdn.com/semantic-ui/2.1.4/components/icon.min.css', media: 'all' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
